body {
    background-image: url("/Users/rosemcclain/Documents/UCF/HOMEWORK/trainScheduler/train-scheduler/assets/images/1452631934_Pixil Art gif.gif");
    text-align: center;
    margin: 50px;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100%, 100%;



}

form {
   
    text-align: left;
}

.container {
    padding: 20px;
    background: rgba(0,0,0,0.5);
    

}

.h1, h1 {
    font-size: 3.5rem;
    
}

.card {
    background-color: #f37474b5;
    color: white; 
}

